.chat-window .messages{
    width: 100%;
    height: 100%;
    background: var(--message-bg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}

.messages .message-header{
    height: 60px;
    width: 100%;
    background-color: var(--message-header-input-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.messages .message-header .back-btn{
    display: none;
}

.messages  .message-header .message-details{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 5px;
}

.messages  .message-header .message-details .name{
   font-size: 15px;
   font-weight: 500;
}

.messages  .message-header .message-details .status{
   font-size: 12px;
   color: grey;
}

.messages .message-header .message-icons{
    display: flex;
    align-items: center;
    gap: 20px;
    color: grey;
}

.messages .message-input{
    position: absolute;
    left: 0;
    bottom: 0;
    height: 45px;
    width: 100%;
    background-color: var(--message-header-input-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    color: grey;
}

.messages ,.message-input input{
    width: 85%;
    height: 100%;
    border: none;
    outline: none;
    background-color: transparent;
}

.messages ,.message-input input::placeholder{
    font-size: 14px;
    color: rgb(186, 183, 183);
    font-weight: 400;    
}


@media screen and (max-width: 768px) {
    .messages .message-header .back-btn{
        display: initial;
    }
  }
