.sidebar-link{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding: 10px 25px;
    margin: 5px 0;
    cursor: pointer;
}

.sidebar-link .link-icon{
    width: 15%;
    color: var(--sidebar-link-color);
}

.sidebar-link .link-name{
    width: 100%;
    font-size: 14px;
    font-weight: 500;
    color: var(--sidebar-link-color);
}

.sidebar-link:hover{
    background-color: rgba(187, 185, 185, 0.5);
}